/* body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f4f4f4;
  width: 500px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#token-container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

#token {
  word-wrap: break-word;
  font-size: 14px;
  color: #333;
} */